body{
	margin: 0px;
}

a{
	color: rgb(220, 220, 220);
	text-decoration: none;
}

#main-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100vw;
	height: calc(100vh - 100px);
}

.news-box{
	border: none;
	height: 530px;
	width: 320px;
	margin: 35px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
}

a:visited{
	color: rgb(220, 220, 220);
}

a:hover{
	color: grey;
	transition: 0.2s ease-in;
}

.window{
	height: 100vh;
	width: 100vw;
	margin: none;
	background-image: url(./images/background.jpg);
}

.header{ 
	display: flex;
	width: 90vw;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 auto;
	height: 100px;
}

.header-box{
	display: inline-block;
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bolder;
	padding-top: 30px;
	box-sizing: border-box;
	border: none;
	padding-right: 30px;
}

.name{
	width: 20%;
	border-right: none;
	font-size: 25px;
	text-align: right;
	color: rgb(220, 220, 220);
}

.about{
	width: 80%;
	text-align: right;
}

.text-box{
	float-left;
	height: 200px;
	width: 320px;
}

.news-title{
	font-size: 20px;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
}

.picture-box{
	width: 320px;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
}

.first-picture{
	background-image: url(./images/plane.jpg);
}

.second-picture{
	background-image: url(./images/boss.jpg);
}

.third-picture{
	background-image: url(./images/skull.jpg);
}

.contacts{
	margin: auto;
	height: 80px;
	width: 300px;
	border: none;
}

.zoom {
	transition: transform .2s; /* Animation */
}

.zoom:hover {
	box-shadow: 10px 10px 5px rgba(20, 20, 20, .8);
	transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
