/* Global */

.project{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 50px;
	width: 500px;
	border: 1px solid black;
	margin: 3px;
}

a {
	color: black;
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial;
}

a:hover {
	font-size: 27px;
	transition: 0.2s ease-in;
}
